.all-card {
    padding: 7px;
   
    .mat-card {
        margin-top: 10px;
        background-color:#9e9e9e8c;
        .mat-card-title {
            display: flex;
            flex-direction: column;
            .panel {
                display: flex;
                justify-content: space-between;
                padding: 8px;
                .date {
                    color: #607D8B;
                }
                .wrap {
                    display: flex;
                    .SharContaiber {
                        display: flex;
                        margin-right: 19px;
                        // padding: 4px;
                        // background: white;
                        border-radius: 5px;
                        .btn {
                            height: 103px;
                            line-height: 121px;
                            
                            img {
                                width: 30px;
                                padding: 0px 10px;
                                cursor: pointer;
                            }
                        }
                        .selectWrapp {
                            display: flex;
                            justify-content: space-between;
                            height: 30px;
                            position: relative;
                            width: 200px;
                            .close {
                                margin-left: auto;
                            }
                            select {
                                width: 80%;
                            }
                
                        }
                    }
                    .close {
                        background: mediumslateblue;
                        width: 15px;
                        height: 15px;
                        text-align: center;
                        padding: 6px;
                        padding-bottom: 7px;
                        border-radius: 50%;
                        cursor: pointer;
                        border: 1px solid mediumslateblue;
                        transition: all .5s;
                        color: #cacaca;
                        margin-left: 53px;
                        &:hover {
                            color:#FF5722;
                            border: 1px solid #FF5722;
                        }
                    }
                    .edit {
                        padding: 5px;
                        cursor: pointer;
                    }
                }
            }
            .title-container {
                color: #795548;
                display: flex;
                justify-content: space-between;
            }
        }
    }

} 


//////flipp
.player {
    position: relative;
    height: 84px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .player div {
        padding: 3px;
        border: 1px solid #9e9e9ead;
        border-radius: 5px;


        position: absolute;
        min-height: 94px;;
        width: 200px;
        background-color: #ebeaeaf5;

        // text-align: center;
        // line-height: 200px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        // border-radius: 50%;
        
        button {
            width: 159px;
        }
        input {
            display: block;
            width: 144px;
            padding: 6px;
        }
    }
    .player img {
      border-radius: 50%;
    }

    .player .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        .shar {
            display: flex;
            justify-content: space-between;
            .closeSharred {
                color: red;
                cursor: pointer;
            }
        }
    }

input {
    display: none;
}

.player.voted {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
////////////////////