<div class="all-card">
    <mat-card class="example-card" >
        <mat-card-title>
            <div class="panel">
                <div *ngIf="feature == 'shared'">автор: {{item.user_id}}</div>
                <div class="date">{{item.date}}</div>
                <div class="wrap">
                    <div class="edit" (click)="editItem(item._id)"><img src="https://img.icons8.com/material-sharp/24/000000/renew-subscription.png"></div>
                    <button mat-button (click)="showUser = !showUser" *ngIf="!showUser ">shared</button>
                    <div  class="SharContaiber" *ngIf="showUser">
                        <div class="btn" ngbButton (click)="flipIt()"><img src="https://img.icons8.com/flat_round/64/000000/divide-horizontal-direction.png"></div>
                        <label>    
                            <div id="player" class="player" [class.voted]="flipped">
                                <div class="front">
                                    <span class="selectWrapp">
                                        <select [formControl]="selected" >
                                            <option *ngFor="let user of allusers"  [ngValue]="user">
                                                {{user.name }}
                                            </option>
                                        </select>
                                        <span class="close" (click)="showUser = !showUser">X</span>
                                    </span>
                                    <input type="text" placeholder="Введите имя" (input)="searchUsers($event.target.value)">

        
                                    <button mat-button (click)="shared(item._id)">Отправить</button>
                                </div>
                                <div class="back" >
                                    <span class="selectWrapp">
                                        <span class="close" (click)="showUser = !showUser">X</span>
                                    </span>
                                    <span class="shar" *ngFor="let shared of item._idShared">
                                        <span>
                                            {{shared}}
                                        </span>
                                        <span class="closeSharred" (click)="removeShared(shared,item._id)">x</span>
                                    </span>
                                </div>
                            </div>
                        </label>

                    </div>
                    <div class="close" (click)="removeItem(item._id)">X</div>
                    

                </div>
            </div>
            <div class="title-container">
                <div class="title">{{item.title}}</div>
                <div class="name">{{item.name}}</div>
            </div>
        </mat-card-title>
        <mat-card-content>
            {{item.note}}
        </mat-card-content>
        <input type="text">

    </mat-card>
    
</div>

