.mat-toolbar {
    color: white;
    background: #393e41;
    height: 64px;
    border-bottom: 1px solid #a9a7a7;
    display: flex;
    justify-content: space-between;
    .wrapper {
        display: flex;
        .logo {
            // padding-right: 10px;    
        }
        .borgerMenu {
            display: none;
        }
        .menuContainer {
            .menuClose {
                display: none;
            }
            .mat-button {
                margin-left: 10px;
            }
        }
    }
    .user {
        height: 36px;
        .userLogo {
            border-radius: 50%;
            font-size: 17px;
            padding: 3px;
            border: 1px solid #cacaca;
            cursor: pointer;
            &:hover {
                background-color: #cacaca6b;
            }
        }
        .userWrapper {
            position: absolute;
            width: 170px;
            margin-left: -116px;
            margin-top: 22px;
            border-radius: 5px;
            border: 1px solid #a9a7a7;
            z-index: 99; 
            background-color: white;
            color: #a9a7a7;
            .info {
                .name {
                    color: black;
                }
                .email {
                    padding-top: 5px;
                }
                padding: 10px;
                border-bottom: 1px solid #a9a7a7;
                text-align: center;
                font-size: 12px;
            }
            .container {
                color: #673AB7;
                .login {
                    padding: 8px;
                    cursor: pointer;
                    border-bottom: 1px solid #cacaca9e;
                    &:hover {
                        background-color: #cacaca9e;
                    }
                }
                // .signOut {
                //     padding: 8px;
                // }
            }
        }
    }
}

@media (max-width:  930px) { 
    .wrapper {
        .borgerMenu {
            display: block !important;
            padding: 5px;
            height: 24px;
            margin-top: auto;
            cursor: pointer;
        }
        .menuContainer {
            display: flex;
            flex-direction: column;
            position: fixed;
            background: #393e41;
            width: 300px;
            height: 100%;
            z-index: 99;
            margin-left: -16px;
            margin-top: -16px;
            .menuClose {
                display: block !important;
                margin-left: auto;
                cursor: pointer;
                img {
                    width: 33px;
                }
            }
            .mat-button {
                margin-top: 10px;
                margin-left: 0px !important;
            }
        }
    }
}