<mat-toolbar>
  <div class="wrapper">
    <div class="logo">To Do List</div>
    <div class="menuContainer">
      <button mat-button routerLink="/board/card">Мои карточки</button>
      <button mat-button routerLink="/board/create">Создать карточку</button>
      <button mat-button routerLink="/board/card/shared">Карточки которые вам розшарили</button>

    </div>

  </div>
  <div class="user" >
    <div class="userLogo" (click)="showUser = !showUser">
      user
    </div>
    <div class="userWrapper" *ngIf="showUser">
      <div class="info">
        <div class="name">{{user.name}}</div>
        <div class="email">{{user.email}}</div>
      </div>
      <div class="container">
        <div class="signIn login" routerLink="/user/signin">signIn</div>
        <div class="signOut login" routerLink="/user/signout">signOut</div>
      </div>
    </div>
  </div>
</mat-toolbar>