<div>
    <form class="example-form"  [formGroup]="signOutForm" >
        <p>Sign Out</p>
        <input class="inp" placeholder="Введите имя" formControlName="name">
        <div *ngIf="_name.invalid && (_name.touched || _name.dirty)" class="error">
            <span *ngIf="_name.errors?.required">Обязательное поле</span>
        </div> 
        <input class="inp" placeholder="Введите Email" formControlName="email">
        <div *ngIf="_email.invalid && (_email.touched || _email.dirty)"  class="error">
            <span *ngIf="_email.errors?.required">Обязательное поле</span>
            <span *ngIf="_email.errors?.email">Значение должно соответствовать email</span>
        </div> 
        <input class="inp" placeholder="Введите пароль"  formControlName="password">
        <div *ngIf="_password.invalid && (_password.touched || _password.dirty)" class="error">
            <span *ngIf="_password.errors?.required">Обязательное поле</span>
        </div> 
        <input class="inp" placeholder="Повторите пароль"  formControlName="confirm">
        <div *ngIf="_confirm.touched" class="error">
            <span *ngIf="_confirm.errors?.required; else signElse">Обязательное поле</span>
            <ng-template #signElse>
                <span  *ngIf="signOutForm.hasError('notSame')">Пароли не совпадают</span>
            </ng-template>
        </div>
        <button mat-button [disabled]="!signOutForm.valid" (click)="onSubmit()">Добавить</button>
        <div class="sign" routerLink="/user/signin">signIn</div>

    </form>
</div>
