<div>
    <form class="example-form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>Создание карточки</div>
        <div class="date">{{fullDate}}</div>
        <!-- <mat-form-field class="example-full-width"> -->
        <input class="inp" placeholder="Введите имя" formControlName="name">
        <input class="inp" placeholder="Введите заголовок" formControlName="title">
        <input class="inp" placeholder="Введите текст" formControlName="note">
        <!-- </mat-form-field> -->
        <button mat-button type="submit">Добавить</button>
    </form>
</div>
