.cardsContainer {
    display: flex;
    padding: 5px;
    .count {
        border-radius: 100%;
        border: 1px solid #393e41;
        padding: 4px;
        width: 21px;
        text-align: center;
        height: 21px;
        color: #393e41;
    }
}